.top{
    width: 100%;
    height: 3.24rem;
    background-image: url("../img/comment/top.png");
    background-size: cover;
}
.top .daohang{
    width: 100%;
    height: 0.6rem;
    /*background:yellowgreen;*/

    padding: 0 0.24rem;
    box-sizing: border-box;
}
.top .daohang a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .daohang i{
    font-size: 0.44rem;
    color:#fff;
}
.introduce{
    width: 100%;
    height: 2.6rem;
    /*background:pink;*/
    padding:0 0.24rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: 0.03rem solid #d4d4d4;
}
.introduce .name{
    width: 100%;
    height:0.8rem;
    /*background:yellowgreen;*/
    display: flex;
    justify-content: left;
    align-items: center;
}
.introduce .name h1{
    font-size: 0.3rem;
}
.introduce .name h6{
    font-size: 0.18rem;
    color:#d4d4d4;
    margin-left: 0.2rem;
}
.introduce .price{
    width: 100%;
    height: 0.5rem;
    /*background:darkgray;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce .price span{
    font-size:0.18rem;
    color:red;
}
.introduce .price .right{
    width: 1.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce .price .right .jian{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-image:url("../img/erji/jianhao.png");
    background-size: 100% 100%;

}
.introduce .price .right span{
    font-size: 0.24rem;
    color:#fff;
    flex-grow: 1;
    text-align: center;
}
.introduce .price .right .jia{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-image:url("../img/erji/jiahao.png");
    background-size:cover;
}
.introduce p{
    width: 100%;
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    font-size: 0.18rem;
    margin-top:0.1rem;
}
.introduce .common{
    width: 100%;
    height: 0.6rem;
    /*background:red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce .common span{
    font-size:0.24rem;
}
.introduce .common .box{
    width: 1.5rem;
    height: 0.6rem;
    /*background:deepskyblue;*/
    font-size: 0.18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*介绍开始*/
.pingjia{
    width: 100%;
    /*background:pink;*/
    padding:0 0.24rem;
    box-sizing: border-box;
}
.pingjia .he{
    width: 100%;
    height: 2rem;
    padding-top:0.1rem;
    box-sizing: border-box;
    display: flex;
}
.pingjia .he .zuo{
    width: 1rem;
    height: 1rem;
    background-image: url("../img/comment/head.png");
    background-size: cover;
}
.pingjia .he .you{
    width: calc(100% - 1rem);
    height: 100%;
    /*background:yellow;*/
    padding-left: 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.pingjia .he .you .name{
    width: 100%;
    height: 0.4rem;
    /*background:red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pingjia .he .you .name b{
    font-size: 0.3rem;
}
.pingjia .he .you .name span{
    font-size: 0.18rem;
    color:#eee;
}
.pingjia .he .you .pic{
    width:100%;
    height:0.2rem;
    /*background:greenyellow;*/
    margin-top:0.1rem;
}
.pingjia .he .you .pic .box{
    width:1rem;
    height:100%;
    /*background:darkgray;*/
    background-image: url("../img/header/4xin.png");
    background-size:100% 100%;
}
.pingjia .he .you p{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    font-size: 0.24rem;
    color:#000;
    margin-top:0.1rem;
}
.pingjia .he .you span{
    font-size: 0.24rem;
    color:#a3a3a3;
    margin-top:0.1rem;
}
/*底层开始*/
.manjian{
    width: 100%;
    height: 0.3rem;
    position:fixed;
    bottom:0.98rem;
    left:0;
    background:#ffffc2;
    font-size: 0.18rem;
    text-align: center;
}
.bottom{
    width: 100%;
    height: 0.98rem;
    background: #d0a186;
    position:fixed;
    bottom:0;
    left:0;
    padding: 0 0 0 0.24rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.bottom .purchase{
    width: 0.73rem;
    height: 0.73rem;
    border-radius: 50%;
    background:#bc7952;
    margin-top: -0.1rem;
    box-shadow: 0 0 0.05rem 0.01rem rgba(0,0,0,0.3) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom .purchase i{
    font-size: 0.44rem;
    color:#fff;
}
.bottom .center{
    width: 2rem;
    height: 0.6rem;
    /*background:red;*/
    margin-top:0.2rem;
    margin-left:0.5rem;
}
.bottom .center .topp{
    font-size: 0.24rem;
    color:#fff;
}
.bottom .center .bot{
    font-size: 0.18rem;
    color:#fff;
}
.bottom .right{
    width: 1.9rem;
    height: 0.98rem;
    background:#bc7952;
    margin-right:0rem;
    font-size: 0.3rem;
    color:#fff;
    line-height:0.98rem;
    text-align: center;

}
/*底层结束*/







